<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>http://192.168.100.248</MSDeployServiceURL>
    <DeployIisAppPath>DailyStatement</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DailyStatementContext" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.100.248;Initial Catalog=DailyStatement;Persist Security Info=True;User ID=sa;Password=apputu.SQL" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DailyStatement.Models.DailyStatementContext, DailyStatement" MigrationConfiguration="DailyStatement.Migrations.Configuration, DailyStatement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DailyStatementContext-Web.config Connection String">
      <ParameterValue>Data Source=192.168.100.248;Initial Catalog=DailyStatement;Persist Security Info=True;User ID=sa;Password=apputu.SQL</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>