@model DailyStatement.Models.Employee

@{
    ViewBag.Title = "變更密碼";
}

<div class="row">
    <div class="span6 offset3">

@using (Html.BeginForm("ChangePassword", "Employee", FormMethod.Post, new { id = "PasswordForm" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <fieldset>
        <legend>變更密碼</legend>
        <div class="editor-field">
            新密碼<input type="password" name="Password" /><br />
            再次確認<input type="password" name="PasswordConfirm" /><br />
        </div>

        <p>
            <input type="submit" value="確定變更" class="btn btn-small btn-success" /> @Html.ActionLink("返回", "Login", null, new { @class = "btn btn-small" })
        </p>
    </fieldset>
}

</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            @if(ViewBag.Result != null)
            {
                @:alert("密碼修改成功！");
            }
        });

        $('#PasswordForm').submit(function () {
            var password = $('input[name="Password"]').val();
            var passwordConfirm = $('input[name="PasswordConfirm"]').val();
            if (password == "") {
                alert("請輸入要修改的密碼！");
                return false;
            }
            else if (password != passwordConfirm) {
                alert("兩次輸入的密碼不同！");
                return false;
            }
        });
    </script>
}
