@model IEnumerable<DailyStatement.Models.Employee>

@{
    ViewBag.Title = "帳號資料一覽";
}

@section scripts{
    <script>
        
        $(function () {
            var url = '@Url.Action("Grid")';
            
            var dataSource = new kendo.data.DataSource({
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 15,
                transport: {
                    read: {
                        url: url,
                        type: "post",
                        dataType: 'json'
                    }
                },
                schema: {
                    //取出資料陣列
                    data: function (d) { return d.data; },
                    //取出資料總筆數(計算頁數用)
                    total: function (d) { return d.total; },
                    model: {
                        id: 'EmployeeId',
                        fields: {
                            Account: { type: 'string' },
                            Name: { type: 'string' },
                            Email: { type: 'string' },
                            Rank: { type: 'string' },
                            Company: { type: 'string' },
                            RecvNotify: { type: 'boolean' },
                            Activity: { type: 'boolean' },
                            CreateDate: { type: 'date' },
                            LastLoginDate: { type: 'date' }
                        }
                    }
                }
            });


            $("#grid").kendoGrid({
                columns: [{ title: "帳號", field: "Account" },
                    {
                        title: "姓名",
                        field: "Name"
                    },
                    {
                        title: "電子郵件",
                        field: "Email"
                    },
                    {
                        title: "權限",
                        field: "Rank",
                        width: 90
                    },
                    {
                        title: "所屬公司",
                        field: "Company",
                        width: 80
                    },
                    {
                        title: "接收通知 ",
                        field: "RecvNotify",
                        template: "<input type='checkbox' #= (RecvNotify === true) ? checked='checked' : '' # disabled />",
                        width: 80
                    },
                    {
                        title: "啟用",
                        field: "Activity",
                        template: "<input type='checkbox' #= (Activity === true) ? checked='checked' : '' # disabled />",
                        width: 60
                    },
                    {
                        title: "建立日期",
                        field: "CreateDate",
                        format: "{0:yyyy/MM/dd}",
                        width: 100
                    },
                    {
                        title: "最後登入日期",
                        field: "LastLoginDate",
                        format: "{0:yyyy/MM/dd}",
                        width: 100
                    },
                    {
                        title: "操作",
                        template: "<a href='@Url.Action("Edit")/#=EmployeeId#' class='btn btn-info'>編輯</a>",
                        width: 80
                    }
                ],
                toolbar: [
                    {
                        name: "create",
                        template: "<a href='@Url.Action("Create")' class='btn btn-success pull-right'>新增帳號</a>"
                    }
                ],
                dataSource: dataSource,
                height: 700,
                scrollable: true,
                pageable: true,
                sortable: true
            });
        });
    </script>
}



<div class="row">
    <div class="span12">
        <h4>帳號資料一覽</h4>
        <div id="grid"></div>
    </div>
</div>