@model DailyStatement.Models.DailyInfo

@{
    ViewBag.Title = "刪除工時日誌";
}
<div class="row">
    <div class="span6 offset3">

<h4>確認刪除?</h4> 
       <div>
           <div class="span6">案號: @Model.ProjectNo </div>
           <div class="span6">工作內容: @Model.WorkContent </div>
       </div>
</div></div>
<div class="row">   
    <div class="span6 offset3">
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="確認" class="btn btn-small btn-danger" />
        @Html.ActionLink("取消", "Index", null, new { @class="btn btn-small"})
    </p>
}
        </div>
</div> 
          

