@model IEnumerable<DailyStatement.Models.DailyInfo>

@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script>
        
        $(function () {
            var urlRead = '@Url.Action("Grid")';

            var dataSource = new kendo.data.DataSource({
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 5,
                transport: {
                    read: {
                        url: urlRead,
                        type: "post",
                        dataType: 'json'
                    }
                },
                batch: true,
                schema: {
                    //取出資料陣列
                    data: function (d) { return d.data; },
                    //取出資料總筆數(計算頁數用)
                    total: function (d) { return d.total; },
                    model: {
                        id: 'DailyInfoId',
                        fields: {
                            DailyInfoId: {
                                editable: false
                            },
                            ProjectNo: {
                                type: 'string'
                            },
                            WorkCategory: { type: 'int' },
                            Customer: {
                                type: 'string'
                            },
                            WorkContent: { type: 'string' },
                            CreateDate: { type: 'date' },
                            WorkingHours: { type: 'string' }
                        }
                    }
                }
            });


            $("#grid").kendoGrid({
                columns: [{ title: "案號", field: "ProjectNo", width:100 },
                    { title: "工作類型", field: "WorkCategory", width: 100 },
                    {
                        title: "客戶名稱", field: "Customer"
                    },
                    { title: "工作內容", field: "WorkContent" },
                    { title: "日期 ", field: "CreateDate", format: "{0:yyyy/MM/dd}", width:100 },
                    { title: "工時", field: "WorkingHours", width:50 },
                    {
                        title: "操作",
                        field: "DailyInfoId",
                        template: "<a href='@Url.Action("Edit")/#=DailyInfoId#' class='btn btn-small btn-info'>編輯</a> <button class='delete-button btn btn-small btn-danger' onclick='DeleteWithConfirm(#=DailyInfoId#);'>刪除</button>", width: 120 
                    }
                ],
                toolbar: [{ name: "create", template: "<a href='@Url.Action("Create")' class='btn btn-small btn-success pull-right' style='margin-right:22px;'>新增</a>" }],
                dataSource: dataSource,
                height: 700,
                scrollable: true,
                pageable: true
                // editable: true,
                // sortable: {
                //    mode: "multiple"
                // }
            });

           
        });


        // functions --
        function DeleteWithConfirm(did) {
            
            alert(did);
            var url = '@Url.Action("Delete", "Daily")';
            alert(url);
            var destination = url + '/' + did;
            alert(destination);
            if (window.confirm('確認刪除?')) {
                $.post(destination, function (data) {
                }).done(function () { location});
                return true;
            } else {
                return false;
            }

        }
    </script>
    }

<h4>工作時數日報</h4>

<div class="row">
    <div class="span12 pull-right">
        @* Html.ActionLink("新增", "Create", "Daily", new { @class="btn btn-success pull-right", id="btn-create", style="margin-bottom:2px;"})*@
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="grid"></div>
    </div>
</div>

